
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 240 17% 95%;
    --foreground: 240 6% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 10%;
    --primary: 244 34% 62%;
    --primary-foreground: 0 0% 98%;
    --secondary: 241 44% 81%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;
    --accent: 28 100% 86%;
    --accent-foreground: 25 95% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 85%;
    --input: 240 6% 88%;
    --ring: 244 34% 62%;
    --chart-1: 130 60% 50%;
    --chart-2: 45 80% 60%;
    --chart-3: 30 90% 60%;
    --chart-4: 0 84.2% 60.2%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 6% 10%;
    --sidebar-primary: 244 34% 62%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 17% 95%;
    --sidebar-accent-foreground: 240 6% 10%;
    --sidebar-border: 240 6% 85%;
    --sidebar-ring: 244 34% 62%;
  }
  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 241 44% 81%;
    --primary-foreground: 240 6% 10%;
    --secondary: 244 34% 62%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --accent: 28 100% 86%;
    --accent-foreground: 25 95% 25%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 241 44% 81%;
    --chart-1: 130 60% 50%;
    --chart-2: 45 80% 60%;
    --chart-3: 30 90% 60%;
    --chart-4: 0 70% 50%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 240 6% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 241 44% 81%;
    --sidebar-primary-foreground: 240 6% 10%;
    --sidebar-accent: 240 4% 16%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 4% 16%;
    --sidebar-ring: 241 44% 81%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
